body {
    background-color: #121212;
    color: white;
    font-family: arial;
    font-weight: bold;
    
     
}

main {
    background-color: #1ED760;
    border-radius: 15px;
    width: 40%;
    margin: auto;
    padding: 1rem;
    text-align: center;
    box-shadow: 10px 5px 5px black;
}

main h3 {
    font-size: 1.8rem;
}


.lista::after {
    clear:both;
    content: "";
    display: block;    
}

.lista li {
    float: left;
    list-style-type: none;
    background-color: #121212;
    border-radius: 15px; 
    padding: 15px;
    margin: 10px;
    text-align: center;
}

.lista a {
    text-decoration: none;
    color: white;
}


header {
    margin: auto;
    padding: 10px;
    width: 30%;
    
}

nav {
    display: flex;
    padding: 10px
}

nav a {
    margin: 20px;
    font-size: 1.5rem;
    padding: 10px;
    background-color: #1ED760;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    box-shadow: 10px 5px 5px black;
}


.cad-letra {
    margin-bottom: 10px;
    color: black;
}

.button-form {
    color: white;
    font-size: 1.5rem;
    border-radius: 15px;
    padding: 15px;
    background-color: black;
}

.musica-letra {
    margin: auto;
    width: 40%;
}